page-open-file {
    .div_file {
        text-align: center;
    }
    .div_file img {
        max-height: 500px;
        width: auto;
    }
    .div_review {
        background: #558dca;
        color: #fff;
        padding: 3px 10px;
        font-size: 16px;
    }
}