<ion-header>
	<ion-navbar color="moxie_{{mode}}">
		<button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title text-capitalize>MoxieReader Home</ion-title>
	</ion-navbar>
	<ion-avatar class="home_avatar" *ngIf="config.mode == 'parent'">
		<img src="assets/images/home_avatar.png" />
	</ion-avatar>

	<ion-navbar color="moxie_{{mode}}" *ngIf="false && mode == 'class'">
		<ion-searchbar #q debounce="400" [(ngModel)]="searchValue" (keyup.enter)="getSearchBook(q.value)" (search)="searchBook($event.target.value)"
			(ionInput)="searchBook($event.target.value)" placeholder="{{config.searchPlaceholder}}" (ionBlur)="checkBlur()" autocomplete="on"
			(ionFocus)="searchBook('')" id="searchbar-ios">
			</ion-searchbar>
	</ion-navbar>
	<div id="autocomplete" *ngIf="view_Flag && (((search_flag == 'history') && (search_items.length > 0)) || ((search_flag == 'auto_complete') ))">
		<ion-list *ngIf="search_flag == 'history'">
			<ion-item *ngFor="let item of search_items" (click)="itemClick(item.data?.q)">
				{{ item.data?.q }}
			</ion-item>
		</ion-list>
		<ion-list *ngIf="search_flag == 'auto_complete'">
			<ion-item *ngFor="let item of auto_complete_items.authors" (click)="itemClick(item)">
				{{ item }}
				<h3 style="float: right;font-style: italic;">Authors</h3>
			</ion-item>
			<ion-item *ngFor="let item of auto_complete_items.series" (click)="itemClick(item)">
				{{ item }}
				<h3 style="float: right;font-style: italic;">series</h3>
			</ion-item>
			<ion-item *ngFor="let item of auto_complete_items.title" (click)="itemClick(item)">
				{{ item }}
				<h3 style="float: right;font-style: italic;">title</h3>
			</ion-item>
		</ion-list>
	</div>
</ion-header>

<ion-content (click)="{}" padding>
	<h4 *ngIf="false">MoxieReader Home</h4>
	<button ion-button (click)="refresh()" class="bt_refresh" color="moxie_teacher"><ion-icon name="ios-refresh"></ion-icon></button>
	<div class='hspace'></div>
	<div class="welcome-container" *ngIf="(isFirsTimeLogin && isReady && isEmpty) || isEmpty">
		<div class="welcom-wrapper">
			<div class="left-container">
				<div class="image-wrapper">
					<img src="assets/images/bear.png" />
					<div class="overlay"></div>
				</div>
			</div>
			<div class="welcome-text">
				<p>Welcome to MoxieReaderHome!</p>
				<p>If you have a Class Code, please enter it now. MoxieReader Class Codes are printed and sent home with your student.</p>
				<p>If your see your student they are now connected, and all set to start recording their reading.</p>
			</div>
		</div>
		<div class="cardtext">
		</div>
	</div>
	<student-book-list [type]="mode === 'teacher'? 'advance' : 'simple'" *ngIf="selectedClass" (addEvent)="addStudent($event)"
		(selectStudent)="studentProfile($event)" (editClass)="openEditClass($event)" (selectBook)="openDetailC($event)" [list]="selectedClass"
		(goScan)="addCurrentReading($event)"></student-book-list>
		<div class="btw-wrapper">
			<button ion-button (click)="goClassCode()" color="moxie_class" class="class-code-btn">Enter Class Code</button>
			<button ion-button *ngIf="false" (click)="goscan()" color="moxie_class">Scan</button>
		</div>
</ion-content>