<ion-header>
  <ion-navbar color="moxie_{{config.mode}}">
  	<button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header tappable (click)="accountWasClicked()" color="light">
			Account
		</ion-list-header>
		<ion-item tappable (click)="apiWasClicked()">
			API URL: {{config.mainURL}}
		</ion-item>
		<ion-item [innerHTML]="version" ></ion-item>
	</ion-list>

  <ion-list *ngIf="advancedMode">
    <ion-list-header color="light">
        Advanced Options
    </ion-list-header>
    <ion-item>
      <ion-label color="primary" stacked>Registration URL</ion-label>
      <ion-input [value]="registrationURL" [(ngModel)]="registrationURL" type="text" placeholder="Registration URL"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Main API URL</ion-label>
      <ion-input [value]="mainURL" [(ngModel)]="mainURL" type="text" placeholder="Main API URL"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="advancedMode">
  <ion-buttons  end>
    <button ion-button large (click)="testMainURL($event)">
      Test Main URL
    </button>
    <button ion-button large (click)="saveData($event)">
      Save
    </button>
    <button ion-button large (click)="hideAdvanced($event)">
      Hide
    </button>
  </ion-buttons>
    </ion-item>
  <ion-item *ngIf="testAPIResponse && advancedMode">
    {{ testAPIResponse }}
  </ion-item>
</ion-content>

