// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  moxie:	  #93c83d,
  navbarYellow:   #ffdb00,
  navbarBlue: #558dca,
  moxie_teacher:	  #93c83d,
  moxie_class: #558dca,
  moxie_parent: #93c83d
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans Italic'), local('Alegreya-Sans-Italic'), url("#{$font-path}/AlegreyaSans-Italic.woff2") format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url("#{$font-path}/AlegreyaSans-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans Light';
  font-style: italic;
  font-weight: 300;
  src: local('Alegreya Sans Light Italic'), local('AlegreyaSans-LightItalic'), url("#{$font-path}/AlegreyaSans-LightItalic.woff2") format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url("#{$font-path}/AlegreyaSans-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url("#{$font-path}/AlegreyaSans-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url("#{$font-path}/AlegreyaSans-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url("#{$font-path}/SourceSansPro-Light.otf") format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url("#{$font-path}/SourceSansPro-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url("#{$font-path}/SourceSansPro-Regular.otf") format('opentype');
}

$moxie-font: 'Alegreya Sans', sans-serif;
$moxie-font-light: 'Alegreya Sans Light', sans-serif;
$moxie-font-medium: 'Alegreya Sans Medium', sans-serif;
$moxie-font-colour: #424242;
$moxie-font-sourcesans-regular: 'Source Sans Pro Regular', sans-serif;
$moxie-font-sourcesans-bold: 'Source Sans Pro Bold', sans-serif;
$moxie-font-sourcesans-light: 'Source Sans Pro Light', sans-serif;

@mixin moxie-main-font($size: 24px) {
  font-family: $moxie-font;
  font-size: $size;
  color: $moxie-font-colour;
}

@mixin moxie-main-font-light($size: 18px) {
  font-family: $moxie-font-light;
  font-size: $size;
  color: $moxie-font-colour;
}

.moxie-main-text-header {
  @include moxie-main-font();
}

.moxie-main-text-light {
  @include moxie-main-font-light();
}

.moxie-main-text-light-italic {
  @include moxie-main-font-light();
  font-style: italic;
}

.moxie-main-text-medium {
  font-style: $moxie-font-medium;
  color: $moxie-font-colour;
}

$font-family-ios-base: $moxie-font;
$font-family-md-base: $moxie-font;
$font-family-wp-base: $moxie-font;

// Global Style for Rating Component

ul {
  padding: 0px;

  &.rating li {
    padding: 5px 10px !important;
    background: none;
    color: #FFD700;

    ion-icon {
      font-size: 30px;
    }
  }
}
