page-share-reading-group {

	ion-content {
		.scroll-content {
			.button-inner {
				p{
					text-transform: lowercase;
				}
				p:first-letter {
					text-transform: uppercase;
				}
			}
		}
	}
}
