<ion-header>
  <ion-navbar color="moxie_{{config.mode}}">
    <ion-title>Genre</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list [ngSwitch] = "super_genre">
		<ion-item *ngSwitchCase="'fic'">
			<button ion-button round *ngFor="let genre_obj of fic_genre_list" (click) = "show_GenreBooks(genre_obj)" color="moxie_class">{{genre_obj.title}}</button>
		</ion-item>
		<ion-item *ngSwitchCase="'non'">
			<button ion-button round *ngFor="let genre_obj of non_genre_list" (click) = "show_GenreBooks(genre_obj)" color="moxie_class">{{genre_obj.title}}</button>
		</ion-item>
		<ion-item *ngSwitchCase="'all'">
			<button ion-button round *ngFor="let genre_obj of all_genre_list" (click) = "show_GenreBooks(genre_obj)" color="moxie_class">{{genre_obj.title}}</button>
		</ion-item>

	</ion-list>
</ion-content>
