
.picker-wrapper1,
.picker-wrapper1 * {
    box-sizing: border-box;
    -webkit-user-select: none;
    font-family: 'Alegreya Sans Medium';
}
.picker-wrapper1 {
    text-align: center;
    position: relative;
    height: 150px;
    display: inline-block;
    line-height: 34px;
    width: 77px;
    font-size: 40px;
    perspective: 1000px;
    perspective-origin: center center;
    background: #558dca;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 3px;
}
.picker-scroller {

    -webkit-transition : -webkit-transform 100ms ease;
    -webkit-transform : translateZ(-90px) rotateX(0deg);
    -webkit-transform-style : preserve-3d;
    height : 100%;
/*
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
*/
}
.picker-scroller .option{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width : 100%;
    transition: all 300ms;
    color : black;
    transform-origin: 50% 50%;
    -webkit-transform-style : preserve-3d;
}


.picker-up {
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    width: 100%;
    height: 88px !important;
    border-bottom: 1px solid lightgray;
    
}
.picker-down {
    position: absolute;
    top: 124px !important;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    width: 100%;
    height: 88px !important;
    border-top: 1px solid lightgray;
}
.clone-scroller {
    -webkit-box-shadow: inset 0 20px 24px 3px rgba(245,245,245,0.95), inset 0 -20px 24px 3px rgba(245,245,245,0.95);
    -ms-box-shadow: inset 0 10px 24px 3px rgba(245,245,245,0.95), inset 0 -20px 24px 3px rgba(245,245,245,0.95);
    -moz-box-shadow: inset 0 10px 24px 3px rgba(245,245,245,0.95), inset 0 -20px 24px 3px rgba(245,245,245,0.95);
    box-shadow: inset 0 10px 24px 3px rgba(245,245,245,0.95), inset 0 -20px 24px 3px rgba(245,245,245,0.95);
    z-index: 5;
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px
}
.dialog .row div.clone-scroller .option {
    visibility: hidden;
}
